@model ShelekhovResult.DataBase.Models.LoginDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Авторизация</h2>
<form method="post">
    <div class="mb-4">
        <label for="UserDomainName">Имя пользователя</label>
        <input type="text" class="form-control" id="UserDomainName" name="UserDomainName" placeholder="Domain\Name.Surname" required />
    </div>
    <button class="btn btn-primary" type="submit">Войти</button>
</form>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="color: red;">
        Ошибка авторизации. Попробуйте снова.
    </div>
}
