@model ShelekhovResult.DataBase.Models.Trade

<h2>При помощи C#</h2>

@if (Model != null)
{
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Сумма</th>
            <th scope="col">Дата и время</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>@Model.Amount</th>
            <th>@Model.CreatedAt</th>
        </tr>
        </tbody>
    </table>
    
}
else
{
    <p>No trade data available.</p>
}