@model ShelekhovResult.DataBase.Models.Trade

<h2>При помощи JS</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Сумма</th>
            <th scope="col">Дата и время</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th id="amount"></th>
        <th id="createdAt"></th>
    </tr>
    </tbody>
</table>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const nameClaim = "@Html.Raw(ViewData["NameClaim"])";
        const apiUrl = `https://localhost:7134/api/trade/latest?userDomainName=${encodeURIComponent(nameClaim)}`; 

        fetch(apiUrl, {
            method: "GET",
            headers: {
                "Authorization": `Bearer @ViewData["JwtToken"]` 
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Ошибка при загрузке данных");
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                document.getElementById("amount").textContent = data.amount;
                document.getElementById("createdAt").textContent = data.createdAt;
            })
            .catch(error => {
                console.error("Ошибка:", error);
                document.getElementById("amount").textContent = "Данные не известны";
                document.getElementById("createdAt").textContent = "Данные не известны";
            });
    });

</script>
